
@{
    ViewBag.Title = "Cosmos";
}

<h2>Constelaciones</h2>
<hr />

<div>
    <table border="0">
        <tr>
            <th>Siglo</th>
            <td>
                <input id="txtSiglo" type="number" placeholder="Siglo del descubrimiento" />
            </td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>
                <input id="txtNombre" type="text" placeholder="Constelación descubierta" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input id="btnGrabar" type="button" value="Grabar" class="button-success color-success" />
                <input id="btnListar" type="button" value="Listar" class="button-default color-default" />
            </td>
        </tr>
    </table>
</div>
<hr />
<div id="lista">

</div>

@section scripts
{
    <script>

        var constelaciones = new array

    </script>
    
}
 
