
@{
    ViewBag.Title = "Cosmos";
}

<h2>Constelaciones</h2>
<hr />

<div>
    <table border="0">
        <tr>
            <th>Siglo</th>
            <td>
                <input id="txtSiglo" type="number" placeholder="Siglo del descubrimiento" />
            </td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>
                <input id="txtNombre" type="text" placeholder="Constelación descubierta" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input id="btnGrabar" type="button" value="Grabar" />
                <input id="btnListar" type="button" value="Listar" />
            </td>
        </tr>
    </table>
</div>
<hr />
<div id="lista">

</div>

@section scripts
{
    <script>

        var constelaciones = new Array()

        function constelacion() {

            this.setSiglo = function (value) { this._siglo = value; }
            this.setNombre = function (value) { this._nombre = value; }
            this.getSiglo = function () { return this._siglo; }
            this.getNombre = function () { return this._nombre;}
        }

        $("#btnGrabar").click(function () {

            var c = new constelacion();
            c.setSiglo($("#txtSiglo").val());
            c.setNombre($("#txtNombre").val());

            constelaciones.push (c);
            $("#txtCodigo").val("");
            $("#txtNombre").val("");
        });

        $("#btnListar").click(function () {

            var ctl = $("#lista");
            ctl.html("");
            $.each(constelaciones, function (i, e) {
                ctl.append("Siglo: " + e.getSiglo() + " - " + "Nombre: " + e.getNombre() + "<br />");
            });
        });

    </script>
    
}
 
